[include]
        path = ~/.gitconfig.local

[alias]
        dall = branch -d `git branch --merged | grep -v '^*' | grep -v 'main' | tr -d '\n'`

        co = checkout
        c  = commit
        s  = status -sb
        b  = branch
        a  = add
        aa = add -A .
        undo = reset --soft HEAD~1
        aliases = config --get-regexp ^alias\\.
        fo = fetch origin

[mergetool]
        keepBackup = false

[help]
        autocorrect = 0

[pull]
        rebase = true

[rebase]
        autoStash = true
        updateRefs = true

[rerere]
        enabled = true

[gpg]
	format = ssh

[commit]
        gpgsign = true

[tag]
        gpgsign = true
